* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 128rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    margin: 0 5%;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.slider-wrapper {
    width: 80%;
   max-height: 64rem;
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-wrapper > input[type=radio] {
    display: none;
}



.img-container {
    display: flex;
    width: 100%; 
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1rem 0;
    transition: transform 0.5s ease-in-out;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bottom-container {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.text {
    flex: 0 0 100%;
    font-size: 3rem;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
}

.controls {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.circle-border {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgb(213, 255, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #d5ff2c;
    transition: background-color 0.3s ease;
}

.controls label:hover .circle {

    background-color:  #ffffff;
}

.controls label:hover .circle-border {
    border-color:  #ffffff;
}


#slide1:checked ~ .img-container .slide,
#slide1:checked ~ .bottom-container .text-container .text
{
    transform: translateX(0%);
}

#slide2:checked ~ .img-container .slide,
#slide2:checked ~ .bottom-container .text-container .text{
    transform: translateX(-100%);
}

#slide3:checked ~ .img-container .slide,
#slide3:checked ~ .bottom-container .text-container .text {
    transform: translateX(-200%);
}

#slide4:checked ~ .img-container .slide,
#slide4:checked ~ .bottom-container .text-container .text {
    transform: translateX(-300%);
}

#slide1:checked ~ .bottom-container .controls label[for="slide1"] .circle,
#slide2:checked ~ .bottom-container .controls label[for="slide2"] .circle,
#slide3:checked ~ .bottom-container .controls label[for="slide3"] .circle,
#slide4:checked ~ .bottom-container .controls label[for="slide4"] .circle
{
    background-color: transparent;
}

#slide1:checked ~ .bottom-container .controls label[for="slide1"],
#slide2:checked ~ .bottom-container .controls label[for="slide2"],
#slide3:checked ~ .bottom-container .controls label[for="slide3"],
#slide4:checked ~ .bottom-container .controls label[for="slide4"]
 {
    border-color: #ffffff;
}


