* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 100rem;
    max-height: 70rem;
    width: 100%;
    height: auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: darkgrey;
    padding-top: 5%;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-wrapper > input[type=radio] {
    display: none ;
}

.slides-wrapper {
    width: 80%;
    overflow: hidden;
}

.slides {
    width: 400%;
    transition: 0.2s ease-in-out;
    display: flex;
}

.bottom-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide img {
    display: block;
    width: 100%;
    height: 95%;
}



#slide1:checked ~ .slides-wrapper .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides-wrapper > .slides {
    transform: translateX(-25%);
}

#slide3:checked ~ .slides-wrapper .slides {
    transform: translateX(-50%);
}

#slide4:checked ~ .slides-wrapper .slides {
    transform: translateX(-75%);
}

